.page-scroll-4 {
    height: 500vh;
    background-color: black;
    overflow: hidden;
}
.animation-img {
    position: fixed;
    display: none;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.animation-img:nth-child(1) {
    display: block;
}

.loading-screen {
    position: fixed;
    top: calc(50vh - 150px);
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    width: 300px;
    height: 300px;
}