$plBlue: #355070;
$plLightBlue: #4e76a6;
$plDarkBlue: #213143;
$plRed: #E56B6F;
$plLightRed: #ff757a;
$plDarkRed: #ab5154;

.playlist-app {
    // Elements
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    nav {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        padding: 0 15px;
        background-color: #e56b6f;
        border-bottom: 2px solid #b1595c;
        box-shadow: 0 2px 2px 1px #00000014;
        z-index: 2;
        a {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 15px;
            color: white;
            font-size: 20px;
        }
    }
    h1 {
        display: inline-block;
        width: 100%;
        font-size: 30px;
    }
    h4 {
        margin-top: 5px;
        text-align: center;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    section {
        padding: 50px 15px;
    }

    // Classes
    .blue-bg {
        background-color: $plBlue;
    }
    .red-bg {
        background-color: $plRed;
    }
    .lightblue-bg {
        background-color: $plLightBlue;
    }

    .white {
        color: white;
    }

    .app {
        min-height: 100svh;
    }
    .top-fold {
        min-height: 100svh;
    }
    .home-links {
        height: calc(100% - 85px);
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    // Buttons
    .pl-button {
        display: block;
        position: relative;
        padding: 10px 15px;
        border-radius: 99px;
        color: white;
        transition-duration: .1s;
    }
    .pl-button:hover {
        transform: translate(-2px,2px);
        cursor: pointer;
    }
    .pl-button_blue {
        box-shadow: -2px 2px 0 1px $plDarkBlue;
        border: 1px solid $plDarkBlue;
        background-color: $plLightBlue;
    }
    .pl-button_red {
        box-shadow: -2px 2px 0 1px $plDarkRed;
        border: 1px solid $plDarkRed;
        background-color: $plLightRed;
    }
    .pl-button_blue:hover {
        box-shadow: -1px 1px $plDarkBlue;
    }
    .pl-button_red:hover {
        box-shadow: 0 0 $plDarkRed;
    }
    .pl-button_blue:active {
        box-shadow: inset 0px 0px 1px 1px black;
    }
    .pl-button_plus {
        padding: 10px 15px 10px 40px;
    }
    .pl-button_plus::after {
        content: "+";
        position: absolute;
        border: 1px solid #fff;
        border-radius: 99px;
        width: 15px;
        height: 15px;
        left: 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .form-field {
        margin-top: 25px;
        * {
            width: 100%;
        }
        input {
            margin-top: 5px;
        }
        input:focus-visible {
            outline: none;
        }
        [type="text"],
        [type="search"] {
            box-shadow: -2px 2px 2px 0px black;
            border: 1px solid black;
            border-radius: 3px;
            transition-duration: .2s;
        }
        [type="text"]:focus-visible {
            transform: translate(1px, -1px);
            box-shadow: -2px 2px 3px 1px #000;
        }
        [type="search"] {
            height: 40px;
            font-size: 27px;
        }
        [type="search"]:focus-visible {

        }
    }
    .checkbox {
        display: flex;
        align-items: center;
        gap: 15px;
        label {
            width: 105px;
        }
        input {
            width: 25px;
            height: 25px;
        }
    }

    // Create Playlist
    .create-playlist-form {
        padding: 35px;
        margin: 50px auto 0 auto;
        border-radius: 5px;
        border: 1px solid $plBlue;
        box-shadow: -2px 2px 2px 2px black;
        max-width: 500px;
        h1 {
            margin: 0;
            text-align: center;
        }
        input[type="text"] {
            height: 35px;
            font-size: 22px;
        }
        #playlist-image {
            padding-bottom: 3px;
            padding-left: 3px;
        }
        #playlist-image::file-selector-button {
            display: inline-block;
            position: relative;
            padding: 5px 15px;
            border-radius: 3px;
            color: white;
            transition-duration: .1s;
            background-color: $plLightRed;
            border: 1px solid $plDarkRed;
            box-shadow: -2px 2px 0 1px $plDarkRed;
        }
        #playlist-image::file-selector-button:hover {
            box-shadow: 0 0 $plDarkRed;
            transform: translate(-2px,2px);
            cursor: pointer;
        }
        .submit {
            font-size: 20px;
            letter-spacing: 1px;
        }
    }
    
    // Search
    .search-results {
        flex-direction: column;
        gap: 15px;
        background-color: white;
        box-shadow: -2px 2px 2px 0px black;
        border: 1px solid black;
        border-radius: 3px;
        color: black;
    }
    .search-results__item {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 50px auto 50px;
        column-gap: 10px;
    }
    .search-results__item__img,
    .search-results__item__quick-add {
        grid-row: 1/3;
    }
    .search-results__item__quick-add {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: unset;
        font-size: 30px;
        width: 30px;
        height: 30px;
        margin: auto;
    }
    .search-results__item__song {
        grid-row: 1/2;
        align-self: end;
    }
    .search-results__item__artist {
        grid-row: 2/3;
        font-size: 14px;
    }
    [data-selected="false"] {
        .search-results__item__quick-add::after {
            content: "+";
        }
    }
    [data-selected="true"]{
        .search-results__item__quick-add::after {
            content: "-";
            margin-top: -5px;
        }
    }
}