* {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
body {
  background-image: url('./assets/bg.webp');
  padding: 35px 15px;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}


.nav {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #E1A2A7;
  padding: 0 15px;
  column-gap: 25px;
  box-shadow: 0 0 7px 0 black;
}
.nav__item {
  color: black;
  font-size: 24px;
}
section {
  padding: 25px 0;
}
.index-list {
  display: grid;
  padding: 15px;
  justify-content: center;
  justify-items: center;
}
.index-li {
  display: flex;
  list-style: none;
  height: 40px;
  width: 300px;
  background-color: lightblue;
  border: 1px black solid;
  border-radius: 5px;
  margin-top: 25px;
}

.index-link {
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  span {
    align-self: center;
    color: black;
  }
}
.d-none {
  display: none;
}
.content-box {
  box-shadow: 0 0 7px 0px #000000a6;
  border-radius: 10px;
  padding: 15px 25px 25px;
  max-width: 450px;
  margin: auto;
  background-color: #E5DECF;
  p {
    text-align: center;
  }
}
#home-contact {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  h2 {
    text-align: center;
    margin-bottom: 0;
  }
  input,
  textarea {
    width: 100%;
    min-height: 35px;
    font-size: 19px;
  }
  textarea {
    min-height: 100px;
  }
  input[type="submit"] {
    background-color: #d15a5a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    max-width: 150px;
    margin: auto;
  }
}
.weston {
  display: block;
  max-width: 225px;
  margin: auto;
}
h1 {
  text-align: center;
}


@media (min-width: 768px) {
  body {
    padding: 40px 55px;
  }
  .index-list {
    grid-template-columns: 1fr 1fr;
  }
  .link-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
    .index-list {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 6vw 50px;
        margin: auto;
    }
    .link-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #home-contact {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;
      max-width: 750px;
      label[for="name"] {
        grid-column: 1/2;
      }
      label[for="email"] {
        grid-column: 2/3;
      }
      h2,
      label[for="message"],
      input[type="submit"] {
        grid-column: 1/3;
      }
    }

}

@media (min-width: 1200px) {
  body {
      padding: 50px 100px;
  }
}