.page-date {
    line-height: 1.3;
    background-size: cover;
    background-attachment: fixed;
    p,
    li {
        font-size: 18px;
    }
    section {
        padding: 25px 15px;
    }
}
.subsection {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #000;
    background-color: #d00000;
    padding: 5px 25px 25px;
    margin-bottom: 35px;
}
#date-form {
    position: relative;
    label {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
    }
    input,
    textarea {
        margin-top: 5px;
        border: 2px solid black;
        transition-duration: .2s;
        border-radius: 7px;
        padding: 1px 5px;
    }
    input[type="file"] {
        border: none;
    }
    input[type="text"],
    input[type="number"] {
        height: 35px;
        font-size: 20px;
    }
    input[type="submit"] {
        background-color: white;
        color: #d00000;
        padding: 5px 15px;
        border: 2px solid white;
        display: block;
        margin: 15px auto 10px;
        font-weight: 900;
    }
    textarea {
        min-height: 75px;
        font-size: 18px;
    }
    img {
        width: 80%;
        display: block;
        margin: 25px auto auto;
        height: auto;
    }
    .ice-cream {
        display: flex;
        flex-direction: row;
        column-gap: 8px;
        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        label {
            padding: 8px 0;
        }
        input[type="radio"] {
            width: 15px;
            height: 15px;
        }
    }
}
#date-form::before {
    content: "";
    position: absolute;
    top: -75px;
    right: 50px;
    display: none;
    height: 75px;
    width: 75px;
    background-image: url("./assets/date/dragon-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#theme-options {
    > div {
        display: flex;
        align-items: center;
        column-gap: 15px;
        margin: 10px 0;
    }
    input[type="radio"] {
        width: 20px;
        height: 20px;
    }
}
.required {
    font-size: 20px;
    font-weight: 900;
}
#cat-wine {
    display: block;
    width: 80%;
    margin: auto;
    max-width: 450px;
}

.theme-romance {
    background-image: url("./assets/date/hearts-pattern.jpeg");
    .subsection {
        background-color: #d00000;
        color: white;
    }
    input[type="radio"] {
        accent-color: red;
    }
}

.theme-fantasy {
    background-image: url("./assets/date/mushroom-pattern.jpeg");
    * {
        font-family: fantasy;
    }
    .subsection {
        background-color: beige;
        color: #790606;
    }
    input[type="radio"] {
        accent-color: #790606;
    }
    #date-form::before {
        display: block;
    }
}

.theme-mystery {
    background-image: url("./assets/date/blue-pattern.webp");
    .subsection {
        background-color: black;
        color: white;
    }
    input[type="radio"] {
        accent-color: #456dda;
    }
}

.theme-other {
    background-image: url("./assets/date/paper-pattern.jpeg");
    .subsection {
        background-color: #e5e5e5;
        color: black;
    }
    input[type="radio"] {
        accent-color: black;
    } 
}



@media (min-width: 992px) {
    .page-date {
        section {
            max-width: 800px;
            margin: auto;
            padding: 50px 0;
        }
    }
}