.page-content {
    // margin-top: 100vh;
    background-color: white;
    padding: 35px 15px;
}

.page-content_no-hero {
    margin-top: 30px;
}


@media (min-width: 768px) {
    .page-content {
        padding: 40px 55px;
    }
}


@media (min-width: 1200px) {
    .page-content {
        padding: 50px 100px;
    }
}