.link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 6px;
    background-color: #d15a5a;
    color: white;
    background-color: white;
    color: #d15a5a;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border: 2px solid #d15a5a;
    letter-spacing: 1px;
    line-height: 22px;
    height: 78px;
}
.link:hover,
.link:focus-visible {
    background-color: white;
    color: #d15a5a;
    background-color: #d15a5a;
    color: white;
}