.link-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


@media (min-width: 768px) {
    .link-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 1024px) {
    .link-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}