* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.page-arrow-game {
    width: 100vw;
    height: 100vh;
}
.ag-screen {
    position: relative;
    height: 600px;
    width: 450px;
    border: 1px solid purple;
    border-radius: 5px;
    margin: auto;
}
.catch-box {
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 77px;
    border-top: 3px solid orangered;
    border-bottom: 3px solid orangered;
    background-color: rgba(128, 0, 128, 0.208);
}
.key-block {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: rgba(104, 255, 104, 0.163);
    font-size: 36px;
    border: 1px solid white;
    border-radius: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.ag-score {
    position: absolute;
    top: 75px;
    left: 75px;
    font-size: 40px;
}