#avatar img {
    object-fit: cover;
}

#album-artwork {
    width: 200px;
    height: 200px;
}
#search-input {
    width: 350px;
}
.song-info-container {
    margin: 3rem 0 2rem 0;
}
.song-info {
    display: block;
}