.slider-container {
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 150px;
    left: 45px;
    width: fit-content;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 25px;
}